.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    margin-bottom: 20px;
    align-items: center;
    background: #D9E3DA;
    height: 10vh;
}

.logo {
    color: red;
}

.navbar__list {
    display: flex;
    list-style: none;
}

.navbar__list li {
    margin-left: 1.5rem;
    cursor: pointer;
}

.navbar__list li:hover {
    font-weight: bold;
}


